{{>head}}

{{>navbar}}

    <div class="row">

    <div class="col-8">
        <h1>Nino schurter</h1>
    </div>
    <div class="col-4">
        <img src="assets/images/nino_spark_100.jpg" class="img-thumbnail">
    </div>

    </div>


{{>footer}}